@page
@model MTLcourts.Pages.AdminManagementModel
@inject UserManager<IdentityUser> userManager
@{
    ViewData["Title"] = "Create New Role";
}

<h1 class="page-title">All Roles</h1>

<div class="create-new-role-btn-cont">
   <a class="btn btn-sm btn-primary btn-info" asp-page="CreateRole">Create New Role</a> 
</div>

    
    @foreach (var role in Model.LRoles)
    {   <h1>Role Name: @role.Name</h1>
        <table class="table table-sm table-bordered table-bordered">
            <tr>
                <th class="col-6">ID</th>
                <th class="col-2">Name</th>
                <th class="col-2">Update</th>
                <th class="col-2">Delete</th>
            </tr>
            <tr>
                <td class="col-6">@role.Id</td>
                <td class="col-2">@role.Name</td>
                
                <td scope="col-2"><a asp-page="RoleEdit" asp-route-id="@role.Id"  class="btn btn-sm btn-primary edit-del-admin-btn">Edit</a></td>

                <td class="col-2">
                    <form asp-action="Delete" asp-controller="Administration" asp-route-id="@role.Id"  method="post">
                        <button type="submit" class="btn btn-sm btn-primary edit-del-admin-btn">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        @* <h1>Users in this Role : @role.Name</h1> *@
        <table class="table table-sm table-bordered table-bordered">
             <tr>
                <th class="col-6">UserID</th>
                <th class="col-2">UserName</th>
                <th class="col-2">Update</th>
                <th class="col-2">Delete</th>

                
            </tr>
             @foreach (var user in Model.LUsers ) 
                {
                    if(await userManager.IsInRoleAsync(user, role.Name)){

            
                    <tr>
                        <td class="col-6">@user.Id</td>
                        <td class="col-2">@user.UserName</td>
                        <td scope="col-2"><a asp-page="AddUserTo" asp-route-id="@user.Id"  class="btn btn-sm btn-primary edit-del-admin-btn">Edit</a></td>
                        <td scope="col-2"><a asp-page="DeleteUserfrom" asp-route-id="@user.Id"  class="btn btn-sm btn-primary edit-del-admin-btn">Delete</a></td>
                        
                    </tr>  
                    }   
                }
                    
        </table>
        @* <th scope="col"><a asp-page="AddUserTORole" asp-route-id="@role.Id"  class="btn btn-sm btn-primary col-2">Add Users</a></th>
        <th scope="col"><a asp-page="RemoveUserfromRole" asp-route-id="@role.Id" class="btn btn-sm btn-primary col-2">Remove Users</a></th> *@
    }


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}