@page
@model MTLcourts.Pages.AdminManagementModel
@{
    ViewData["Title"] = "Create New Role";
}

<h1>All Roles</h1>

<a class="btn btn-sm btn-primary" asp-page="/CreateRole">Create New Role</a>
    
    @foreach (var role in Model.LRoles)
    {   <h1>Role : @role.Name</h1>
        <table class="table table-sm table-bordered table-bordered">
            <tr>
                <th class="col-6">ID</th>
                <th class="col-2">Name</th>
                <th class="col-2">Update</th>
                <th class="col-2">Delete</th>
            </tr>
            <tr>
                <td class="col-6">@role.Id</td>
                <td class="col-2">@role.Name</td>
                
                <td class="col-2"><a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@role.Id">Update</a></td>
                <td class="col-2">
                    <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    </form>
                </td>
            </tr>
        </table>
        <h1>Users in this Role : @role.Name</h1>
        <table class="table table-sm table-bordered table-bordered">
             <tr>
                <th class="col-6">UserID</th>
                <th class="col-2">UserName</th>
                <th class="col-4">Email</th>
                
            </tr>
            @foreach (var user in Model.LUsers)
                {
                    <tr>
                        <td class="col-6">@user.Id</td>
                        <td class="col-2">@user.UserName</td>
                        <td class="col-4">@user.Email</td>
                    </tr>    
                }
                    
        </table>
    }


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}