@page
@using System.Net
@model IndexModel
@{
  ViewData["Title"] = "Home page";
}


<div class="text-center">
  <h1 class="display-4 mtl-courts"><b>MTL Courts</b></h1><br>
  <h3 class="display-6">Montreal's premier basketball court finder!</h2><br>
</div>

<div>
  <form action="post">
    <label for="zipInput">Find the nearest court</label>
    <input type="text" id="zipInput" placeholder="Enter postal code">
    <button type="button" onclick="lonlat()" class="btn btn-primary">Find</button>  
  </form>

</div>



<div class="row row-cols-1 row-cols-md-3 g-4">
  @foreach (var crt in Model.courtsList)
  {
    <div class="col">

      <div class="card h-100">
        @if (crt.PhotoUrl != null)
        {
          <div class="index-court-image-container">
            <a asp-page="/Court/ViewCourt" asp-route-id="@crt.Id">
              <img class="index-court-image" src="@crt.PhotoUrl" class="card-img-top" alt="...">
            </a>
          </div>
        }
        <div class="card-body">
          <h5 class="card-title">@crt.Name</h5>
          <p class="card-text">@Html.Raw(WebUtility.HtmlDecode(@crt.Description))</p>
          <a class="btn btn-light btn-info" asp-page="/Court/ViewCourt" asp-route-id="@crt.Id">View Court</a>
        </div>

      </div>
    </div>
  }
</div>

<div class="container">
  <div id="map"></div>
</div>

@* <div class="row">
 <div class="sidebar col-6">
      <div class="heading">
        <h1>Our locations</h1>
      </div>
      <div id="listings" class="listings"></div>
    </div>
    <div id="map" class="map col-6"></div>
  </div>

  </div> *@


@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
    function lonlat() {
      var input = document.getElementById('zipInput');
      var zipCode = input.value;
      var apiResult = $.get('https://maps.googleapis.com/maps/api/geocode/json?address=' + zipCode + '&key=AIzaSyAbu_OdJLEzphQg3pIcJ5S7bL8IkWeZt1A');
    @* apiResult.done(function (data) {
      console.log('Latitude = ' + data.results[0].geometry.location.lat + ' ' + '<br>Longitude = ' + data.results[0].geometry.location.lng);
    }); *@
        $.ajax({
        type: 'POST',
        url: "?handler=GeoData",
        data: apiResult,
        @* data: JSON.apiResult, *@
        contentType: "application/json",
        dataType: "json",
    }).done(function(data) {
        var lat = data.results[0].geometry.location.lat;
        var lon = data.results[0].geometry.location.lng;
        console.log(lat, lon);
    })

  }
  }
</script>



}




