@page
@model MTLcourts.Pages.IntentionModel

@{
}
<div class="row row-cols-3 g-4">
<label asp-for="Date" class="col-2 col-form-label">Date: </label>
@* <input class="form-control " type="date" asp-for="Date" value="@DateTime.Now"> *@
<input class="form-control " type="date" asp-for="Date" SelectedDate= DateTime.Now>
<a asp-page="NEW"  asp-route-Date ="Date" class="btn btn-sm btn-primary col-4">Add Intention</a>
</div>
<br>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @foreach (var crt in Model.courtsList)
        {
  <div class="col">
    
    <div class="card h-100">
         @if (crt.PhotoUrl != null)
        {
          <div class="index-court-image-container">
            <a asp-page="/Intention/NEW" asp-route-id="@crt.Id" >
              <img class="index-court-image" src="@crt.PhotoUrl"  class="card-img-top" alt="...">
            </a>            
          </div>
        }
        <div class="card-body">
        <h5 class="card-title">@crt.Name</h5>
        <h5 class="card-title" >@crt.Id</h5>
        </div>

      @* display the Intention list *@
         @foreach (var intention in @Model.intentionsList)
         {  if (@crt.Id==@intention.CourtsId )
         {
          <a asp-page = " " >@intention.Date</a>

         }
            
         }
    </div>
  </div>
        }
</div>


